/* annulo i margini della pagina */
body{
    margin: 0px;
}
main{
    margin-left: 8px;
}

/* setto il background del banner e sistemo il logo */
header > section{
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-color: cornflowerblue;
    height: 180px;
    margin: 0px;
}
.logo{
    width: 15%;
    margin-top: 5%;
}

/* sistemo lo stile per titolo e sottotitolo */

h1{
    font-size: 3.5em;
    margin-left: 8px;
    margin-top: 2%;
    margin-bottom: 0%;
}
.subtitle{
    color: gray;
    font-size: 1.5em;
    margin-left: 8px;;
    font-weight: bold;
}
div > span{
    color: rgb(40, 169, 221);
}
.data{
    color: gray;
    margin-left: 8px;
}

/* stili per il main */
.subfoto{
    font-size: 0.7em;
}

article, li{
    font-size: 1.1em;
}
.highlight{
    background-color: yellow;
}

/* cerco il modo meno "ingombrante" per stilizzare la tabella */
table{
    margin-top: 40px;
    margin-bottom: 40px;
    border-collapse: collapse;
    border-spacing: 20px;
}
thead{
    color: white;
    background-color: dodgerblue;
}
tbody{
    background-color: rgb(127, 214, 255);
}
#trbianca{
    background-color: white;
}

/* inizio con gli stili del footer */

footer > section{
    color: darkgray;
}